CREATE TABLE [dbo].[CARGO](
	[ID_CARGO] [int] IDENTITY(1,1) NOT NULL,
	[FREQUENCIA] [datetime] NULL,
	[TEMPO_CURSADO] [datetime] NULL,
	CONSTRAINT [PK_ID_CARGO] 
	PRIMARY KEY CLUSTERED (ID_CARGO)
)
GO

CREATE TABLE [dbo].[CURSO](
	[ID_CURSO] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_ARQUIVO] [varchar](3) NULL,
	[NOME] [varchar](200) NULL,
	[LINK_CONTEUDO] [varchar](300) NULL,
	[NOME_AUTOR] [varchar](200) NULL,
	[TEMPO_ESTIMADO_CURSO] [datetime] NULL,
	CONSTRAINT [PK_ID_CURSO] 
	PRIMARY KEY CLUSTERED (ID_CURSO)
)
GO

CREATE TABLE [dbo].[CURSOS_POR_CARGO](
	[ID_CURSO] [int] NOT NULL,
	[ID_CARGO] [int] NOT NULL,
	CONSTRAINT [PK_CURSOS_POR_CARGO] 
	PRIMARY KEY CLUSTERED  (ID_CURSO, ID_CARGO)
)
GO

CREATE TABLE [dbo].[CURSOS_POR_DEPARTAMENTO](
	[ID_CURSO] [int] NOT NULL,
	[ID_DEPARTAMENTO] [int] NOT NULL,
	CONSTRAINT [PK_CURSOS_POR_DEPARTAMENTO] -- alterado [PK_ID_CURSO_ID_DEPARTAMENTO]
	PRIMARY KEY CLUSTERED (ID_CURSO, ID_DEPARTAMENTO)
)
GO

CREATE TABLE [dbo].[DEPARTAMENTO](
	[ID_DEPARTAMENTO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NULL,
	[ID_EMPREGADO] [int] NOT NULL,
	CONSTRAINT [ID_DEPARTAMENTO] 
	PRIMARY KEY CLUSTERED (ID_DEPARTAMENTO)
)
GO

CREATE TABLE [dbo].[EMPREGADO](
	[ID_EMPREGADO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](60) NULL,
	[SEXO] [char](1) NULL,
	[CURSO] [varchar](50) NULL,
	[DATA_NASCIMENTO] [datetime] NULL,
	[EMAIL] [varchar](200) NULL,
	[ADMINISTRADOR] [bit] NULL,
	[ID_CARGO] [int] NOT NULL,
	[ID_DEPARTAMENTO] [int] NOT NULL,
	CONSTRAINT [ID_EMPREGADO] 
	PRIMARY KEY CLUSTERED (ID_EMPREGADO)
)
GO

CREATE TABLE [dbo].[HISTORICO](
	[ID_HISTORICO] [int] IDENTITY(1,1) NOT NULL,
	[DATA] [datetime] NULL,
	[NOTA] [real] NULL,
	[ID_CURSO] [int] NOT NULL,
	[ID_EMPREGADO] [int] NOT NULL,
	CONSTRAINT [PK_ID_HISTORICO] 
	PRIMARY KEY CLUSTERED (ID_HISTORICO)
)
GO

CREATE TABLE [dbo].[LOGIN](
	[ID_LOGIN] [int] IDENTITY(1,1) NOT NULL,
	[NOME_USUARIO] [varchar](60) NOT NULL,
	[SENHA] [varchar](60) NOT NULL,
	[ID_PERMISSAO] [int] NOT NULL,
	CONSTRAINT [ID_LOGIN] 
	PRIMARY KEY CLUSTERED (ID_LOGIN)
)
GO

CREATE TABLE [dbo].[PERMISSAO](
	[ID_PERMISSAO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](60) NULL, -- novo campo
	[ADMIN] [bit](1) NULL,
	[GERENTE] [bit](1) NULL,
	[USUARIO] [bit](1) NULL,
	CONSTRAINT [ID_PERMISSAO] 
	PRIMARY KEY CLUSTERED (ID_PERMISSAO)
)
GO

CREATE TABLE [dbo].[PESSOA](
	[ID_PESSOA] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](60) NOT NULL,
	[ID_LOGIN] [int] UNIQUE NOT NULL,	 -- alterado [ID_LOGIN] [int] UNIQUE NOT NULL,	
	CONSTRAINT [ID_PESSOA] 
	PRIMARY KEY CLUSTERED (ID_PESSOA)
)
GO

CREATE TABLE [dbo].[QUESTAO](
	[A] [varchar](200) NULL,
	[B] [varchar](200) NULL,
	[C] [varchar](200) NULL,
	[D] [varchar](200) NULL,
	[E] [varchar](200) NULL,
	[CORRECT] [varchar](200) NOT NULL,
	[ID_QUESTAO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CURSO] [int] NOT NULL,
	CONSTRAINT [ID_QUESTAO] 
	PRIMARY KEY CLUSTERED (ID_QUESTAO)
)
GO

ALTER TABLE [dbo].[CURSOS_POR_DEPARTAMENTO]  
WITH CHECK ADD  
CONSTRAINT [FK_CURSOS_POR_DEPARTAMENTO_ID_CURSO] 
FOREIGN KEY([ID_CURSO])
REFERENCES [dbo].[CURSO] ([ID_CURSO])
GO

ALTER TABLE [dbo].[CURSOS_POR_DEPARTAMENTO]  
WITH CHECK ADD  CONSTRAINT [FK_CURSOS_POR_DEPARTAMENTO_ID_DEPARTAMENTO] 
FOREIGN KEY([ID_DEPARTAMENTO])
REFERENCES [dbo].[DEPARTAMENTO] ([ID_DEPARTAMENTO])
GO

ALTER TABLE [dbo].[DEPARTAMENTO]  
WITH CHECK ADD  CONSTRAINT [FK_DEPARTAMENTO_EMPREGADO] 
FOREIGN KEY([ID_EMPREGADO])
REFERENCES [dbo].[EMPREGADO] ([ID_EMPREGADO])
GO

ALTER TABLE [dbo].[EMPREGADO]  
WITH CHECK ADD  CONSTRAINT [FK_EMPREGADO_CARGO] 
FOREIGN KEY([ID_CARGO])
REFERENCES [dbo].[CARGO] ([ID_CARGO])
GO

ALTER TABLE [dbo].[EMPREGADO]  
WITH CHECK ADD  CONSTRAINT [FK_EMPREGADO_DEPARTAMENTO] 
FOREIGN KEY([ID_DEPARTAMENTO])
REFERENCES [dbo].[DEPARTAMENTO] ([ID_DEPARTAMENTO])
GO

ALTER TABLE [dbo].[LOGIN]  
WITH CHECK ADD  CONSTRAINT [FK_LOGIN_PERMISSAO] 
FOREIGN KEY([ID_PERMISSAO])
REFERENCES [dbo].[PERMISSAO] ([ID_PERMISSAO])
GO

ALTER TABLE [dbo].[PESSOA]  
WITH CHECK ADD  CONSTRAINT [FK_PESSOA_LOGIN] 
FOREIGN KEY([ID_LOGIN])
REFERENCES [dbo].[LOGIN] ([ID_LOGIN])
GO

ALTER TABLE [dbo].[QUESTAO]  
WITH CHECK ADD  CONSTRAINT [FK_QUESTAO_CURSO] 
FOREIGN KEY([ID_CURSO])
REFERENCES [dbo].[CURSO] ([ID_CURSO])
GO


